---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Web Wizards">
	<table>
		<thead>
			<tr>
				<th>Typ strony</th>
				<th>Opis usługi</th>
				<th>Cena</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Wizytówka</th>
				<th>	
					Krótka strona zawierająca przedstawienie usługodawcy lub firmy i dane kontaktowe
				</th>
				<th>Wizytówka</th>
			</tr>
		</tbody>
	</table>
</Layout>
